. App {
  alinhamento de texto : centro;
}

. App-logo {
  altura : 40 vmin ;
  eventos de ponteiro : nenhum;
}

@media ( prefere-reduzido-movimento : sem-preferência) {
  . App-logo {
    animação : App-logo-spin infinito 20 s linear;
  }
}

. App-header {
  cor de fundo : # 282c34 ;
  altura mínima : 100 vh ;
  display : flex;
  direção flexível : coluna;
  alinhar-itens : centro;
  justificar o conteúdo : centro;
  tamanho da fonte : calc ( 10 px  +  2 vmin );
  cor : branco;
}

. App-link {
  cor : # 61dafb ;
}

@keyframes App-logo-spin {
  de {
    transformar : girar ( 0 graus );
  }
  para {
    transformar : girar ( 360 graus );
  }
}